<footer class="site-footer section section-inverse">

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <p>© 2015 <a href="https://twitter.com/moo9000">Mikko Ohtamaa</a></p>
            </div>

            <div class="col-md-4">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://operationssecurity.us11.list-manage.com/subscribe/post?u=cf87c726e5abc5a93d147bc2a&amp;id=3bff60c2d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="form-group">
                            <label for="mce-EMAIL">Subscribe to mailing list</label>

                            <div class="input-group">
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email" required>
                                <span class="input-group-btn">
                                    <button type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-danger">Subscribe</button>
                                </span>
                            </div>

                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_cf87c726e5abc5a93d147bc2a_3bff60c2d4" tabindex="-1" value=""></div>
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                Follow OPSEC:
                <ul class="social-links">
                  <li class="footer-icon"><a href="/feeds/all.atom.xml"><i class="fa fa-rss"></i></a></li>
                  <li class="footer-icon"><a href="https://www.facebook.com/OPSEC-Operations-Security-891977340886771/"><i class="fa fa-facebook"></i></a></li>
                  <li class="footer-icon"><a href="https://twitter.com/OpsecSanta"><i class="fa fa-twitter"></i></a></li>
                  <li class="footer-icon"><a href="https://github.com/miohtama/opsec"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>