<footer class="site-footer section section-inverse">

    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <p>© 2015-2023 <a href="https://twitter.com/moo9000">Mikko Ohtamaa</a></p>
            </div>

            <div class="col-md-6">
                <ul class="social-links">
                  <li class="footer-icon"><a href="https://twitter.com/moo9000"><i class="fa fa-twitter"></i></a></li>
                  <li class="footer-icon"><a href="https://linkedin.com/in/ohtis"><i class="fa fa-linkedin"></i></a></li>
                  <li class="footer-icon"><a href="https://github.com/miohtama/opsec"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

        </div>

    </div>

</footer>