<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/assets/css/main.min.css">
    {% endblock %}
  </head>


  <body>
    <main id="page">

      {% include "base_header.html" %}

      {% block main %}
          <main class="site-main">
            {% block sections %}
                <section class="section section-detault">
                  <div class="container">
                      {% block content %}
                      {% endblock %}
                  </div>
                </section>
            {% endblock %}
          </main>
      {% endblock %}

      {% include "base_footer.html" %}
    </div>
    <script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>