{% extends "base.html" %}

{% block metadata %}
    <title>OPSEC - Operations security</title>
    <meta name="description" content="How to not get hacked - guide to protect sensitive Internet services">
{% endblock %}

{% block sections %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>OPSEC</h1>
                <p class="lead">How to not get hacked</p>
            </div>
        </div>
    </div>
</section>

<section class="section section-inverse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    OPSEC - Operations security is a security guide and assessment tool for developing sensitive Internet services.
                    It allows developers, system administrators or decision makers to learn how to secure their project.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="section">
    <div class="container">

        <div class="col-md-4">
            <h2>Buy eBook</h2>

            <p>
                OPSEC - How not to get hacked is available for Amazon Kindle.
            </p>

            <p class="text-warning">
                The Kindle edition is not yet in the stores. Subscribe to our mailing list to get notified.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Browse docs</h2>

            <p>
                Operations security guide is available as online documentation to everybody to read.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Edit on Github</h2>

            <p>
                Material presented here is open and free under Creative Commons license.
                You are free to contribute.
            </p>
        </div>

    </div>
</div>
{% endblock %}