{% extends "base.html" %}

{% block metadata %}
    <title>OPSEC - Operations Security</title>
    <meta name="description" content="How not to get hacked - guide to make sensitive Internet services secure">
{% endblock %}

{% block sections %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-header" alt="OPSEC - Operations Security - How not to get hacked" src="{{ SITEURL }}/theme/images/jumbo.jpg">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-center">
                    <h2>What is OPSEC?</h2>
                    <p>
                        Operations security (OPSEC) is a multidisciplinary approach for protecting information. Though the term has a wider general meaning, this guide discusses OPSEC in the context of Internet services: how to secure data against industrial espionage, blackhat hackers, law enforcement, social engineering and mass surveillance.
                    </p>
                </p>
            </div>

            <div class="col-md-6">
                <p class="text-center">
                    <h2>What is this guide?</h2>

                    <p><i>OPSEC - Operations security</i> is a guide and assessment tool for Internet service development.
                    Developers, system administrators and decision makers can learn to guarantee the safety of their project against external and internal threats. The practical guide applies to one man teams as well as large organizations building websites. A special emphasis is put on high value targets in digital currencies, like Bitcoin.
                    </p>
                </p>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h2>Buy eBook</h2>

                <p>
                    OPSEC - How not to get hacked will be available for Amazon Kindle.
                </p>

                <p class="text-warning">
                    The Kindle edition is not yet in the stores. Subscribe to our mailing list to get notified.
                </p>
            </div>

            <div class="col-md-4">
                <h2>Browse docs</h2>

                <p>
                    The guide is available as online documentation for anybody to read.
                </p>

                <p>
                    <a href="/docs"><i class="fa fa-angle-right"></i> View documentation</a>
                </p>
            </div>

            <div class="col-md-4">
                <h2>Edit on Github</h2>

                <p>
                    Material presented here is open and free under Creative Commons license.
                    You are free to contribute.
                </p>

                <p>
                    <a href="https://github.com/miohtama/opsec"><i class="fa fa-angle-right"></i> View source code</a>
                </p>

            </div>

        </div>

    </div>
</section>
{% endblock %}